.shift {
    background-color: #6D9886;
}

.hero {
    background-color: #6D9886;
    padding: 2em 0;
    margin-bottom: 2em;
    div {
        margin-bottom: 0;
        text-align: center;
        h2 {
            font-weight: 100;
            font-size: 2.2em;
        }
    }
}

.content {
    background-color: whitesmoke;

    .container-medium {
        padding: 2em 0;
        margin-bottom: 0;
    }
}

.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    color: white;
    background-color: #181D31;
    width: 25em;
    margin: 2em;

    box-shadow: -.75em -.75em 0 .1em black;
    transition: box-shadow, 0.2s ease-in-out;

    h3 {
        font-size: 2em;
        margin: 0;
    }

    p {
        font-size: 1.2em;
        margin: 0;

        a {
            color: white;
        }
    }

    p:hover {
        font-style: italic;
    }

}

.box:hover {
    box-shadow: -1em .75em 0 .2em black;
}

.box-top, .box-bottom {
    padding: 2em;
    display: flex;
    align-items: center;
}

.box-bottom {
    justify-content: flex-end;
}