.title {
    font-size: 2em;
}

.hero {
    background-color: #6D9886;
    padding: 2em;
    border-bottom: .1em solid white;
    margin-bottom: 2em;

    .container-medium {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 1em;
        margin: 0 1em;
        padding: .5em 5em;

        .hero-text {
            width: 50%;
            font-size: 2em;
            line-height: 2em;

            p {
                color: #32494B;
            }
        }

        .hero-image {
            width: 50%;
            img {
                width:100%;
                border-radius: 1em;
            }
        }
        
    }
}

.content-1 {
    margin-bottom: 20em;
    .container-medium {
        .title {
            margin: 4em 0 1em;
            span {
                padding: .2em .5em;
                border-bottom: 2px solid black;
                border-left: 2px solid black;
            }
        }

        .container-article {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box-article {
                margin: 2em 2em;
                height: 15em;
                width: 25em;
                background-color: grey;
            }
        }
    }
}

.seperation {
    z-index: -5;
    display: flex;
    position: absolute;
    width: 110%;
    top: 51em;
    justify-content: space-between;

    .in-angle {
        height: 18em;
        width: 100%;
        background-color: green;
        transform: rotate(-6deg);
        position: relative;
        left: -5%;
    }
}

.content-2 {
    .container-medium {
        .title {
            margin: 4em 0 1em;
            span {
                padding: .2em .5em;
                border-bottom: 2px solid black;
                border-left: 2px solid black;
            }
        }

        .container-article {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box-article {
                margin: 2em 2em;
                height: 15em;
                width: 25em;
                background-color: grey;
            }
        }
    }
}

.content-3 {
    .container-medium {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .box-article {
            background-color: rgba(0, 128, 0, 0.87);
            padding: .5em 1.2em;
            border: 2px solid black;
            border-radius: 20em;
            margin: 1em 4em;

            a {
                font-size: 1.2em;
                font-weight: bold;
                color: white;
            }
        }

        .box-article:hover {
            background-color: black;

            a {
                color: lightgreen;
            }
        }
    }
}
