@media screen and (max-width: 600px) {
    
    footer {
        background-color: #0C1232;
        padding: 2em 0 .5em;

        .container-simple {
            color:white;
            margin: 1em 0;

            .autres-infos {
                display: flex;
                flex-direction: column;
                align-items: center;
        
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 1em;

                    .title {
                        font-size: 1.2em;
                        margin-bottom: .2em;
                        
                    }

                    ul {
                        text-align: center;
                        
                        li {
                            margin: .75em 0; 
                            a {
                                color: rgb(112, 112, 112);
                            }
                        }
                    }
                }
            }
        }
        
        .container-medium {
            margin-bottom: 1.5em;
            text-align: center;
            color:white;

            .powered-by{
                margin: 2em 0 0;
                color: rgb(121, 121, 121);
            }

            .conditions, .copyrights, .powered-by {
                p {
                    display: inline-block;
                    margin: .85em 2em 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    
    footer {
        background-color: #0C1232;
        padding: 2em 0 .5em;

        .container-simple {
            color:white;
            margin: 1em 0;

            .autres-infos {
                display: flex;
                justify-content: space-around;
                margin-left: 5em;
        
                div {
                    width: 15em;
        
                    .title {
                        font-size: 1.2em;
                        margin-bottom: 1em;
                        
                    }

                    ul {
                        li::before {
                            content: '';
                            display: inline-block;
                            width: .4em;
                            height: .1em;
                            background-color: white;
                            margin-right: .5em;
                        }
                        li {
                            display: flex;
                            align-items: center;
                            margin: .75em 0;
                            margin-left: 1em;
                                                    
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        
        .container-medium {
            margin-bottom: 1.5em;
            text-align: center;
            color:white;

            .powered-by{
                margin: 2em 0 0;
                color: rgb(121, 121, 121);
            }

            .conditions, .copyrights, .powered-by {
                p {
                    display: inline-block;
                    margin: .85em 2em 0;
                }
            }
        }
    }
}