@media screen and (max-width: 600px) {
  .hero {
    background-color: #6D9886;
    padding: 2em 0;
    margin-bottom: 2em;
  }
  .hero div {
    margin-bottom: 0;
    text-align: center;
  }
  .hero div h2 {
    font-weight: 100;
    font-size: 2em;
  }
  .hero div h2 a {
    color: lightcyan;
    text-decoration: underline;
  }
  .shift {
    padding-bottom: 10em;
    background-color: #6D9886;
  }
  header {
    position: relative;
    bottom: 10em;
    width: 100%;
    transition: bottom 0.3s;
  }
  header .sp-container {
    z-index: 5;
    width: 100%;
    height: 10em;
    position: fixed;
    background-color: white;
    box-shadow: 0 3px 10px black;
  }
  header .sp-container .container-medium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  header .sp-container .container-medium h1 {
    font-size: 2.5em;
  }
  header .sp-container .container-medium h1 span {
    color: #8ACE31;
  }
  header .sp-container .container-medium h1:hover {
    cursor: pointer;
  }
  header .sp-container .container-medium .fa-bars {
    font-size: 2em;
  }
  header .sp-container .container-medium nav {
    background-color: #181D31;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1.2em;
    position: absolute;
    right: 0;
    top: 0;
  }
  header .sp-container .container-medium nav .fa-xmark {
    color: white;
    position: absolute;
    right: 1em;
    top: 0.75em;
  }
  header .sp-container .container-medium nav .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .sp-container .container-medium nav .navigation .current-li a {
    color: white;
    font-weight: bold;
    font-weight: bolder;
  }
  header .sp-container .container-medium nav .navigation li {
    margin-bottom: 0.2em;
  }
  header .sp-container .container-medium nav .navigation li a {
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(107, 105, 105);
  }
  header .sp-container .container-medium nav .navigation li:hover a {
    color: rgb(1, 51, 14);
  }
  header .sp-container .container-medium nav .connexion {
    display: flex;
    flex-direction: column;
  }
  header .sp-container .container-medium nav .connexion li {
    text-align: center;
    margin: 0.6em 0 0;
    padding: 0.2em 0.4em;
    background-color: #6D9886;
    border-radius: 5em;
  }
  header .sp-container .container-medium nav .connexion li a {
    font-weight: bold;
    font-size: 0.9em;
    color: white;
  }
  header .sp-container .container-medium nav .connexion .se-connecter a {
    color: rgb(169, 231, 252);
  }
  header .sp-container .container-medium nav .connexion .profile {
    padding: 0.4em 1em;
    background-color: #6D9886;
  }
  header .sp-container .container-medium nav .connexion li:hover a {
    color: #181D31;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: #6D9886;
    padding: 2em 0;
    margin-bottom: 2em;
  }
  .hero div {
    margin-bottom: 0;
    text-align: center;
  }
  .hero div h2 {
    font-weight: 100;
    font-size: 2em;
  }
  .hero div h2 a {
    color: lightcyan;
    text-decoration: underline;
  }
  .container-medium {
    margin: 0 10em;
    margin-bottom: 2em;
  }
  .shift {
    padding-bottom: 10em;
    background-color: #6D9886;
  }
  header {
    position: relative;
    bottom: 10em;
    width: 100%;
    transition: bottom 0.3s;
  }
  header .sp-container {
    z-index: 5;
    width: 100%;
    height: 10em;
    position: fixed;
    background-color: white;
    box-shadow: 0 3px 10px black;
  }
  header .sp-container .container-medium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  header .sp-container .container-medium h1 {
    font-size: 2.5em;
  }
  header .sp-container .container-medium h1 span {
    color: #8ACE31;
  }
  header .sp-container .container-medium h1:hover {
    cursor: pointer;
  }
  header .sp-container .container-medium nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    left: 5em;
    top: 0.5em;
  }
  header .sp-container .container-medium nav .navigation {
    display: flex;
    margin-bottom: 2em;
  }
  header .sp-container .container-medium nav .navigation .current-li a {
    color: black;
    font-weight: bold;
    font-weight: bolder;
  }
  header .sp-container .container-medium nav .navigation li {
    margin-left: 2.5em;
  }
  header .sp-container .container-medium nav .navigation li a {
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(107, 105, 105);
  }
  header .sp-container .container-medium nav .navigation li:hover a {
    color: rgb(1, 51, 14);
  }
  header .sp-container .container-medium nav .connexion {
    display: flex;
    position: relative;
    left: 1em;
  }
  header .sp-container .container-medium nav .connexion li {
    text-align: center;
    margin: 0.2em 0.6em 0.2em;
    padding: 0.4em 0.6em;
    background-color: #6D9886;
    border-radius: 5em;
  }
  header .sp-container .container-medium nav .connexion li a {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
  }
  header .sp-container .container-medium nav .connexion .se-connecter a {
    color: rgb(169, 231, 252);
  }
  header .sp-container .container-medium nav .connexion .profile {
    padding: 0.4em 1em;
    background-color: #6D9886;
  }
  header .sp-container .container-medium nav .connexion li:hover a {
    color: #181D31;
  }
}/*# sourceMappingURL=navbar.css.map */