<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('main.static', filename='css/recyclage.css')}}">
    <title>Recyclage</title>
</head>
<body>
    {% include "french/tools/barre-de-navigation.html" %}

    <section class="hero">
        <div class="container-medium">
            <h2>« Une action pouvant faire toute une différence »</h2>
        </div>
    </section>

    <section class="content-1">
        <div class="container-medium">
            <div class="container-text">
                <h3 class="title">
                    <span>C’est quoi le recyclage?</span>
                </h3>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh sit amet commodo nulla. Libero nunc consequat interdum varius sit amet mattis vulputate. Cursus vitae congue mauris rhoncus. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Iaculis urna id volutpat lacus laoreet non.</p>                    
                    <p>Ipsum dolor sit amet consectetur. Turpis in eu mi bibendum neque. Vehicula ipsum a arcu cursus vitae congue. Massa id neque aliquam vestibulum morbi blandit cursus risus at. Amet consectetur adipiscing elit ut aliquam. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="seperation">
        <div class="left-side"></div>
        <div class="in-angle"></div>
        <div class="right-side"></div>
    </div>

    <section class="content-2">
        <div class="container-medium">
            <div class="column">
                <h3 class="title">
                    <span>Les bienfaits du recyclage</span>
                </h3>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </li>
                    <li>
                        Nibh sit amet commodo nulla. Libero nunc consequat interdum varius sit amet mattis vulputate.  
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </li>
                </ul>
            </div>

            <div class="column shifted">
                <div class="container-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfDSg49mHzXc86S0YxHH8Ihh2MiC9cqpv6_g&usqp=CAU" alt="poubelle">
                </div>
                <ul>
                    <li>
                        Cursus vitae congue mauris rhoncus. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Iaculis urna id volutpat lacus laoreet non.
                    </li>
                    <li style="position:absolute;">
                        Cursus vitae congue mauris rhoncus. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Iaculis urna id volutpat lacus laoreet non.
                    </li>
                </ul>    
            </div>
        </div>
    </section>

    <section class="content-3">
        <div class="container-medium">
            <div class="box-article">
                <a href="#">Qu’est ce qui est recyclabe?</a>
            </div>
            <div class="box-article">
                <a href="#">Que faire pour réduire son empreinte écologique</a>
            </div>
            <div class="box-article">
                <a href="#">Et l’environnement?</a>
            </div>
            <div class="box-article">
                <a href="#">Un geste pour les générations futures</a>
            </div>
        </div>
    </section>

    {% include "french/tools/pied-de-page.html" %}
</body>
</html>