{% extends "model.html" %}
<!-- start -->

{% block content %}
<section id="hero-section">

    <div class="container-medium hero-container">
        <div>
            <p>
                <span>Un art gravé,</span>
                <br>
                <span>Un art intemporel</span>
            </p>
        </div>
    </div>

</section>

<section id="reduction-section">

    <div class="container-medium">
        <h2>
            <span>Réductions</span>
        </h2>
    </div>

    <div class="container-full control-div">
        <div class="button-left"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="button-left"><i class="fa-solid fa-arrow-right"></i></div>
    </div>

    <div class="container-medium reduction-list">
        <div class="article"></div>
        <div class="article"></div>
        <div class="article"></div>
    </div>

    <div class="container-medium see-more-container">>
        <span class="see-more">
            <a href="#">VOIR LA BOUTIQUE</a>   
        </span>
    </div>

</section>

<section id="new-items-section">

    <div class="container-medium">

        <h2>
            <span>Nouveautés</span>
        </h2>

        <div class="new-items-list">

            <div class="new-item">
                <div class="item"></div>
                <span class="more-info"><a href="#">DÉTAILS</a></span>
            </div>

            <div class="new-item">
                <div class="item"></div>
                <span class="more-info"><a href="#">DÉTAILS</a></span>
            </div>

            <div class="new-item">
                <div class="item"></div>
                <span class="more-info"><a href="#">DÉTAILS</a></span>
            </div>

        </div>

        <div class="new-items-list">

            <div class="new-item">
                <div class="item"></div>
                <span class="more-info"><a href="#">DÉTAILS</a></span>
            </div>

            <div class="new-item">
                <div class="item"></div>
                <span class="more-info"><a href="#">DÉTAILS</a></span>
            </div>

            <div class="new-item">
                <div class="item"></div>
                <span class="more-info"><a href="#">DÉTAILS</a></span>
            </div>

        </div>

        <div class="see-more-container">
            <span class="see-more">
                <a href="#">VOIR LA BOUTIQUE</a>   
            </span>
        </div>
    
    </div>
</section>
{% endblock %}

<!-- end -->
