<!-- This is a vrification d-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sa-la Design</title>
    <!-- css file -->
    <link rel="stylesheet" href="{{url_for('main.static', filename='css/model.css')}}">
    {% if current_page == 'acceuil' %}
    <link rel="stylesheet" href="{{url_for('main.static', filename='css/acceuil.css')}}">
    {% endif %}

    <script src="https://kit.fontawesome.com/d1b22cfff1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- {% if user_agent_info == "" %}
    <script>
        function userAgent(){
        let user_agent = navigator.userAgent;
        location.replace("/main/acceuil?user_agent=" + user_agent)
        }

        userAgent()
    </script>
    {% endif %} -->

    <div class="navbar">

        <div class="container-full first-nav-div">
            <nav>
                <ul>
                    <li><a href="{{url_for('main.connexion')}}">Se connecter</a></li>
                    <li><a href="{{url_for('main.enregistrement')}}">Créer un compte</a></li>
                </ul>
            </nav>
        </div>

        <div class="container-medium logo-div">
            <h1>
                <a href="{{url_for('main.root')}}">
                    SA-LA DESIGN
                </a>
            </h1>
        </div>

        <div class="container-medium second-nav-div">
            <nav>
                <ul>
                    <li id="{% if current_page == 'acceuil' %}current{% else %}not-current{% endif %}">
                        <a onclick="current_li_change(this);" href="{{url_for('main.root')}}">Acceuil</a>
                    </li>
                    <li id="{% if current_page == 'boutique' %}current{% else %}not-current{% endif %}">
                        <a onclick="current_li_change(this);" href="{{url_for('main.boutique')}}">Boutique</a>
                    </li>
                    <li id="{% if current_page == 'a-propos-de-moi' %}current{% else %}not-current{% endif %}">
                        <a onclick="current_li_change(this);" href="{{url_for('main.a_propos_de_moi')}}">À propos de moi</a>
                    </li>
                    <li id="{% if current_page == 'contactez-moi' %}current{% else %}not-current{% endif %}">
                        <a onclick="current_li_change(this);" href="{{url_for('main.contactez_moi')}}">Contactez-moi</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% if current_page == 'acceuil' %}
        <div class="container-medium separation">
            <div><i class="fa-solid fa-chevron-down" onclick="rotate(this)" id="flipped"></i></div>
        </div>
        <div class="container-medium third-nav-div" id="third-div">
            <nav>
                <ul>
                    <li><a href="#reduction-section" id="red">Réductions</a></li>
                    <li><div></div></li>
                    <li><a href="#new-items-section" id="nou">Nouveautés</a></li>
                </ul>
            </nav>
        </div>
        {% endif %}

        <div class="container-medium search-bar">
            <div>
                <form action="">
                    <input id="search-input" placeholder="Recherche de produits" name="Search bar" type="text">
                </form>
                <img onclick="clear_search_input();" id="x" src="{{url_for('main.static', filename='images/x.png')}}" alt="x">
                <img id="o" src="{{url_for('main.static', filename='images/loupe.png')}}" alt="loupe">
            </div>
        </div>

    </div> 

    <!-- start -->

    {% block content %}
    {% endblock %}

    <!-- end -->

    <footer>
        <div class="container-medium">

            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="#">@Sa-la Design</a>

            <div class="copyrights">
                <p>
                    Copyright © 2022 Sa-la Desing
                </p>
                <p>
                    Tous droits réservés.
                </p>
            </div>

        </div>
    </footer>

    <script src="{{url_for('main.static', filename='javascript/script.js')}}"></script>
</body>

</html>