{% extends "tools/model.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<link rel="stylesheet" href="{{url_for('blog.static', filename='css/' + page_title.lower() + '.css')}}">
<title>{{ page_title }}</title>

{% endblock %}


{% block body %}

<section class="hero">
    <div class="container-medium">
        <h2>« L'écriture, un art à la source de l'information »</h2>
        <div class="container-go-back">
            <button class="go-back">
                <a href="{{url_for('blog.home')}}">Retour au blog</a>
            </button>
        </div>
    </div>
</section>
<div class="container">
    <div class="container-medium">
        <h2><span>Nouvel article</span></h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                    <p class="error-message">
                        {{ message }}
                    </p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% if is_published == True %}
            <p class="published">Your article has been published.</p>
        {% endif %}

        <form class="connexion" method="POST" action="{{url_for('blog.editing')}}">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </form>
        
    </div>
</div>


{% endblock %}
