{% extends 'english/tools/model.html' %}


<!-- website title -->
{% Block title %}
    <title>Sa-la Design</title>
{% Endblock %}

<!-- css files -->
{% Block head %}
    <link rel="stylesheet" href="{{url_for('main.static', filename='desktop/css/secure.css')}}">
{% Endblock %}

<!-- body content -->
{% Block content %}
    <div class="warning">
        <h1>Vous avez été redirigé ici parce que vous avez essayé d'accéder à une page que notre serveur ne peut pas afficher pour des raison de sécurité du système.</h1>
        <h1>Vous pouvez, à présent, retourner à la <a href="{{url_for('main.acceuil')}}">page d'accueil</a></h1>
    </div>
{% Endblock %}