<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% if add_navbar_footer == true %}
      <link rel="stylesheet" href="{{url_for('main.static', filename='css/navbar.css')}}"/>
      <link rel="stylesheet" href="{{url_for('main.static', filename='css/footer.css')}}">
    {% endif %}
    
    {% block head %} {% endblock %}
  </head>

  <body>
     
    {% if add_navbar_footer == true %}
      {% with website_name=website_name %}
        {% include "tools/navbar.html"%} 
      {% endwith %}
    {% endif %}
    

    {% block body %} {% endblock %} 

    
    {% if add_navbar_footer == true %}
      {% include "tools/footer.html" %}

      <script src="{{url_for('main.static', filename='javascript/navbar.js')}}"></script>
    {% endif %}
  </body>
</html>
