{% extends "tools/model.html" %}

{% block head %}

<title>Security</title>
<link rel="stylesheet" href="{{url_for('main.static', filename='css/secure.css')}}">

{% endblock %}

{% block body %}

<div class="container">
    <div class="container-medium">

        <div class="logo-div">
            <h1>
                <a href="{{url_for('main.root')}}">
                    SA-LA DESIGN
                </a>
            </h1>
        </div>

        <div class="warning">
            <h1>Vous avez été redirigé ici parce que vous avez essayé d'accéder à une page que notre serveur ne peut pas afficher pour des raison de sécurité du système.</h1>
            <h1>Vous pouvez, à présent, retourner à la <a href="{{url_for('main.acceuil')}}">page d'accueil</a></h1>
        </div>
    </div>
</div>

{% endblock %}
    