{% extends "tools/model.html" %}

{% block head %}

<link rel="stylesheet" href="{{url_for('recherches.static', filename='css/tools' + page_title.lower() + '.css')}}">
<title>{{ page_title }}</title>

{% endblock %}

{% block body %}

<div class="container">
    <div class="container-medium">

        <div class="logo-div">
            <h1>
                <a href="{{url_for('recherches.root')}}">
                    {{website_name}}
                </a>
            </h1>
        </div>

        <div class="warning">
            <h1>Vous avez été redirigé ici parce que vous avez essayé d'accéder à une page que notre serveur ne peut pas afficher pour des raison de sécurité du système.</h1>
            <h1>Vous pouvez, à présent, retourner à la <a href="{{url_for('recherches.home')}}">page d'accueil</a></h1>
        </div>
    </div>
</div>

{% endblock %}
    