{% extends "tools/model.html" %}

{% block head %}

<link rel="stylesheet" href="{{url_for('recherches.static', filename='css/' + page_title.lower() + '.css')}}">
<title>{{ page_title }}</title>

{% endblock %}


{% block body %}

<section class="hero">
    <div class="container-medium">
        <h2>« Une démarche d'envergure! »</h2>
    </div>
</section>

<section class="content-1">
    <div class="container-medium">
        <h2 class="title">
            <span>Documents de travail.</span>
        </h2>

        <div class="container-links">
            <div class="link">
                <a href="https://docs.google.com/document/d/1Rj1AHqlwR3ZMoVDCq4Ki28MT20CQwgpbnZjz2mkQdCw/edit?usp=sharing">
                    <span class="link-title">JOURNAL DE BORD PROJET COMMUNAUTAIRE</span>
                    <span class="link-owners">Philippe Sirois & Joseph D. A.</span>
                </a>
            </div>
    
            <div class="link">
                <a href="https://docs.google.com/document/d/179Pl4urM-gJ3s49Jq9phCjTKNisZQzdGy87GzzmDPtg/edit?usp=sharing">
                    <span class="link-title">Desing du site web - Projet C</span>
                    <span class="link-owners">Philippe Sirois & Joseph D. A.</span>
                </a>
            </div>

            <div class="link">
                <a href="https://docs.google.com/document/d/1fZgc32Ah7bWzczIx8NksGM7T1-wAWkTy5hHH2aWtYPw/edit?usp=sharing">
                    <span class="link-title">Recherches sur le recyclage - Projet C</span>
                    <span class="link-owners">Philippe Sirois & Joseph D. A.</span>
                </a>
            </div>

            <div class="link">
                <a href="https://docs.google.com/document/d/1IYxX2zQWaqkJSPbMqI9HQl9FFLWju4upJ2go9Wc0u_s/edit?usp=sharing">
                    <span class="link-title">Le code du site web - Projet C</span>
                    <span class="link-owners">Philippe Sirois & Joseph D. A.</span>
                </a>
            </div>

            <div class="link">
                <a href="https://docs.google.com/document/d/1PzA0rOFNOwj1iacZ1rDanU3a6zFfR8Hg2tpIHOsgU7c/edit?usp=sharing">
                    <span class="link-title">Dates et résumés - Projet C</span>
                    <span class="link-owners">Philippe Sirois & Joseph D. A.</span>
                </a>
            </div>

            <div class="link">
                <a href="https://docs.google.com/document/d/1a9Mp1y_8jHKqHmGYwhvnv2lA9P6D7W_3UTTACz7l8Tw/edit?usp=sharing">
                    <span class="link-title">Recommandation à l'école - Porjet C</span>
                    <span class="link-owners">Philippe Sirois & Joseph D. A.</span>
                </a>
            </div>
        </div>

        
    </div>
</section>

<div class="seperation">
    <div class="in-angle"></div>
</div>

<section class="content-3">
    <div class="container-medium">
        <div class="box-article">
            <a href="#">Qu’est ce qui est recyclabe?</a>
        </div>
        <div class="box-article">
            <a href="#">Que faire pour réduire son empreinte écologique</a>
        </div>
        <div class="box-article">
            <a href="#">Et l’environnement?</a>
        </div>
        <div class="box-article">
            <a href="#">Un geste pour les générations futures</a>
        </div>
    </div>
</section>

{% endblock %}
