
// hero section
#hero-section {
    padding-bottom: 3em;

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            p {
                font-size: 4.2em;
                font-family: 'Caudex', serif;
                color: black;
                
                span {
                    margin: .5em;
                    word-spacing: .1em;
                    letter-spacing: .05em;
                }
        
            }
        }
    }

    .hero-container::before {
        content: '';
        display: inline-block;
    
        height: 8em;
        width: .4em;
        background-color: orange;
        border-radius: 5em;
    }
}

// Reduction section
#reduction-section {
    background-color: white;
    padding-top: 2em;

    h2 {
        padding-bottom: 3em;

        span:hover {
            cursor: pointer;
        }

        span {
            position: relative;
            z-index: 1;
        }
        span::after {
            content: '';
            display: inline-block;

            position: relative;
            top: .4em;
            right: 4.5em;
            z-index: -1;
            
            height: 1em;
            width: 5.1em;
            box-shadow: .1em .1em black;
        }
    } 

    .control-div {
        z-index: 4;
        width: 92%;
        margin: auto;
        padding: 0 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button-left, .button-right {
            width: 1.2em;
            border: 1em rgb(212, 212, 212) solid;
            background-color: rgb(212, 212, 212);
            border-radius: 20em;
            font-size: 1.3em;
            text-align: center;

            i {
                color: black;
            }
        }

        .button-left:hover, .button-right:hover {
            width: 1.2em;
            border-color: black;
            background-color: black;
            cursor: pointer;

            i {
                color: white;
            }
        }
    }

    .reduction-list {
        position: relative;
        bottom: 7.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
        padding-bottom: 5em;
        
        .article {
            height: 10em;
            width: 15em;
            background-color: black;
        }
    }

    .see-more-container {
        position: relative;
        bottom: 7.5em;
    }
}


// New-items section
#new-items-section {
    background-color: #FBF6F1;
    position: relative;
    bottom: 2em;
    padding: 2em 0;

    .container-medium {
        h2 {
            padding-bottom: 1.5em;
            span:hover {
                cursor: pointer;
            }
            span {
                position: relative;
                z-index: 1;
            }
            span::after {
                content: '';
                display: inline-block;
    
                position: relative;
                top: .4em;
                right: 4.5em;
                z-index: -1;
                
                height: 1em;
                width: 5.1em;
                box-shadow: .1em .1em black;
            }
        }

        // container

        .new-items-list {
            display: flex;
            justify-content: space-between;
            margin: 2.5em 0;
            width: 100%;
            // background-color: rgb(116, 116, 116);
            
            .new-item-tablet {
                display: none;
            }

            .new-item {
                height: 10em;
                width: 18em;
                border: .2em black solid;
                z-index: 1;

                span {
                    position: relative;
                    top: 102%;
                    box-shadow: .2em .1em black;

                }

                span:hover {
                    box-shadow: none;
                    cursor: pointer;
                    a {
                        font-weight: bold;
                    }
                }
            }
        }
        
    }
}