#hero-section {
  padding-bottom: 3em;
}
#hero-section .hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-section .hero-container div p {
  font-size: 4.2em;
  font-family: "Caudex", serif;
  color: black;
}
#hero-section .hero-container div p span {
  margin: 0.5em;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
#hero-section .hero-container::before {
  content: "";
  display: inline-block;
  height: 8em;
  width: 0.4em;
  background-color: orange;
  border-radius: 5em;
}

#reduction-section {
  background-color: white;
  padding-top: 2em;
}
#reduction-section h2 {
  padding-bottom: 3em;
}
#reduction-section h2 span:hover {
  cursor: pointer;
}
#reduction-section h2 span {
  position: relative;
  z-index: 1;
}
#reduction-section h2 span::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.4em;
  right: 4.5em;
  z-index: -1;
  height: 1em;
  width: 5.1em;
  box-shadow: 0.1em 0.1em black;
}
#reduction-section .control-div {
  z-index: 4;
  width: 92%;
  margin: auto;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reduction-section .control-div .button-left, #reduction-section .control-div .button-right {
  width: 1.2em;
  border: 1em rgb(212, 212, 212) solid;
  background-color: rgb(212, 212, 212);
  border-radius: 20em;
  font-size: 1.3em;
  text-align: center;
}
#reduction-section .control-div .button-left i, #reduction-section .control-div .button-right i {
  color: black;
}
#reduction-section .control-div .button-left:hover, #reduction-section .control-div .button-right:hover {
  width: 1.2em;
  border-color: black;
  background-color: black;
  cursor: pointer;
}
#reduction-section .control-div .button-left:hover i, #reduction-section .control-div .button-right:hover i {
  color: white;
}
#reduction-section .reduction-list {
  position: relative;
  bottom: 7.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  padding-bottom: 5em;
}
#reduction-section .reduction-list .article {
  height: 10em;
  width: 15em;
  background-color: black;
}
#reduction-section .see-more-container {
  position: relative;
  bottom: 7.5em;
}

#new-items-section {
  background-color: #FBF6F1;
  position: relative;
  bottom: 2em;
  padding: 2em 0;
}
#new-items-section .container-medium h2 {
  padding-bottom: 1.5em;
}
#new-items-section .container-medium h2 span:hover {
  cursor: pointer;
}
#new-items-section .container-medium h2 span {
  position: relative;
  z-index: 1;
}
#new-items-section .container-medium h2 span::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.4em;
  right: 4.5em;
  z-index: -1;
  height: 1em;
  width: 5.1em;
  box-shadow: 0.1em 0.1em black;
}
#new-items-section .container-medium .new-items-list {
  display: flex;
  justify-content: space-between;
  margin: 2.5em 0;
  width: 100%;
}
#new-items-section .container-medium .new-items-list .new-item-tablet {
  display: none;
}
#new-items-section .container-medium .new-items-list .new-item {
  height: 10em;
  width: 18em;
  border: 0.2em black solid;
  z-index: 1;
}
#new-items-section .container-medium .new-items-list .new-item span {
  position: relative;
  top: 102%;
  box-shadow: 0.2em 0.1em black;
}
#new-items-section .container-medium .new-items-list .new-item span:hover {
  box-shadow: none;
  cursor: pointer;
}
#new-items-section .container-medium .new-items-list .new-item span:hover a {
  font-weight: bold;
}/*# sourceMappingURL=acceuil.css.map */