@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");
body {
  background-color: #FBF6F1;
  font-family: "Inter", sans-serif;
}

body, ul, p {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

li {
  list-style: none;
}

h2 {
  font-size: 2.5em;
}

h1 {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: black;
}

.see-more {
  position: relative;
  left: 97%;
}

.see-more:hover a {
  color: #2275F2;
  font-style: italic;
}

.container-full {
  width: 100%;
}

.container-medium {
  margin: 1em 10em;
}

.navbar {
  padding-bottom: 2em;
}

.first-nav-div {
  display: flex;
  justify-content: right;
}
.first-nav-div nav ul {
  display: flex;
  margin: 1em 1em;
}
.first-nav-div nav ul li {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 1em;
  padding: 0.3em 0.7em 0.45em;
  border: 2px black solid;
  border-radius: 10em;
}
.first-nav-div nav ul li:hover {
  border-color: #2275F2;
  background-color: #2275F2;
}
.first-nav-div nav ul li:hover a {
  color: white;
}

.logo-div {
  padding-bottom: 1.5em;
  text-align: center;
}
.logo-div a {
  font-size: 1.6em;
  text-transform: uppercase;
}
.logo-div a span:hover {
  cursor: pointer;
}

.second-nav-div {
  display: flex;
  justify-content: center;
}
.second-nav-div nav ul {
  display: flex;
  align-items: center;
}
.second-nav-div nav ul li {
  margin: 0 2.5em;
}
.second-nav-div nav ul li a {
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(27, 27, 27, 0.685);
}
.second-nav-div nav ul li a:hover {
  color: black;
}
.second-nav-div nav ul li::after {
  content: "";
  display: none;
  margin: auto;
  margin-top: 0.2em;
  width: 80%;
  height: 0.25em;
  border-radius: 10em;
  background-color: #2275F2;
}
.second-nav-div nav ul #current a {
  color: black;
}
.second-nav-div nav ul #current::after {
  display: block;
}

.separation {
  margin: 0;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}
.separation div {
  text-align: center;
  width: 40em;
  border: none;
  padding: 0.2em 0;
  border-radius: 5em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.separation div i {
  transform: rotate(180deg);
}
.separation div i:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.third-nav-div {
  display: none;
  margin: 0;
}
.third-nav-div nav {
  padding: 1.5em 0 1em;
  width: 40em;
  margin: auto;
}
.third-nav-div nav ul {
  position: relative;
  right: 0.33em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-nav-div nav ul li {
  margin: 0 2em;
}
.third-nav-div nav ul li div {
  margin-left: 1em;
  background-color: black;
  height: 0.5em;
  width: 0.5em;
  border-radius: 5em;
}
.third-nav-div nav ul li a {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgba(27, 27, 27, 0.685);
  position: relative;
  z-index: 1;
}
.third-nav-div nav ul li a::after {
  content: "";
  display: block;
  position: relative;
  left: 2.2em;
  bottom: 0.6em;
  z-index: -1;
  height: 1em;
  width: 5.1em;
  box-shadow: 0.1em 0.1em black;
}
.third-nav-div nav ul li a:hover::after {
  box-shadow: 0.1em 0.1em 0.2em rgb(6, 23, 255);
}
.third-nav-div nav ul li #red:hover {
  color: rgb(255, 102, 0);
}
.third-nav-div nav ul li #nou:hover {
  color: rgb(255, 0, 106);
}

.search-bar {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.search-bar form {
  width: 90%;
}
.search-bar form input {
  width: 100%;
  border: none;
  font-size: 1.5em;
}
.search-bar form input:focus {
  outline-offset: 0px;
  padding: 1px 2px;
  outline: none;
}
.search-bar div {
  display: flex;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 2.5em;
  padding: 0.5em 2em;
  border-radius: 10em;
}
.search-bar div img {
  margin-left: 0.5em;
}
.search-bar div img:hover {
  cursor: pointer;
}
.search-bar div #x {
  height: 1em;
}
.search-bar div #o {
  height: 1.45em;
}

footer {
  background-color: white;
  padding: 4em 0;
}
footer .container-medium {
  text-align: center;
}
footer .container-medium a {
  margin: 0 0.5em;
}/*# sourceMappingURL=model.css.map */