{% extends "tools/model.html" %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/' + page_title.lower() + '.css')}}">
<title>{{ page_title }}</title>

{% endblock %}


{% block body %}

<div class="container-center">
      <div class="container-connexion">
        <h2>Connectez-vous</h2>
        
        <form class="connexion" action="{{url_for('login')}}">
          <input class="data-entry" type="text" name="" placeholder="Username"/>
          <input class="data-entry" type="password" name="" placeholder="Password"/>
          <button id="submit-btn">Connexion</button>
        </form>
      </div>
    </div>

{% endblock %}
