{% extends "tools/model.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/' + page_title.lower() + '.css')}}">
<title>{{ page_title }}</title>

{% endblock %}


{% block body %}

<div class="container-center">
    <div class="container-connexion">
        <h2>Créez votre compte</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {% if reconnect %}
                <p style="color:red;" >{{ message }} If you have an account, <a href="{{url_for('login')}}">try to reconnect.</a></p>
              {% else %}
                <p>{{ message }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form class="connexion" method="POST" action="{{url_for('register')}}">
            {{ form.hidden_tag() }}
            {{ form.email }}
            {{ form.username }}
            {{ form.password }}
            {{ form.password2 }}
            {{ form.submit }}
            <p class="goto">Vous avez déjà un compte? <a href="{{url_for('login')}}">Connectez-vous.</a></p>
        </form>
    </div>
    <div class="container-ads">
        <img
            src="{{url_for('static', filename='images/polyedu.png')}}"
            alt="logo-polyedu"
        />
        <p>
            Apprenez les mathématiques, les sciences, le français, l'anglais et
            encore plus.
        </p>
        <p>
            <a href="https://polyedu.renjen.repl.co"
                >Visiter les site internet →</a
            >
        </p>
    </div>
</div>

{% endblock %}
