{% extends "tools/model.html" %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/' + page_title.lower() + '.css')}}">
<title>{{ page_title }}</title>

{% endblock %}


{% block body %}

<div class="container-center">
    <div class="container-connexion">
        <h2>Créez votre compte</h2>

        <form class="connexion" action="{{url_for('register')}}">
            <input
                class="data-entry"
                type="text"
                name=""
                placeholder="Email"
            />
            <input
                class="data-entry"
                type="text"
                name=""
                placeholder="Username"
            />
            <input
                class="data-entry"
                type="password"
                name=""
                placeholder="Password"
            />
            <input
                class="data-entry"
                type="password"
                name=""
                placeholder="Enter Password Again"
            />
            <button id="submit-btn">Register</button>
            <p class="goto">Vous avez déjà un compte? <a href="{{url_for('login')}}">Connectez-vous.</a></p>
        </form>
    </div>
    <div class="container-ads">
        <img
            src="{{url_for('static', filename='images/polyedu.png')}}"
            alt="logo-polyedu"
        />
        <p>
            Apprenez les mathématiques, les sciences, le français, l'anglais et
            encore plus.
        </p>
        <p>
            <a href="https://polyedu.renjen.repl.co"
                >Visiter les site internet →</a
            >
        </p>
    </div>
</div>

{% endblock %}
